@import "tailwindcss";



/* 🌍 Base Styling */
body {
  font-family: Inter, sans-serif;
  min-height: 100vh;
     font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
}

/* ✨ Smooth UI */
* {
  transition: all 0.2s ease-in-out;
}



/* Or apply to specific headings */
h1, h2 {
  /* font-family: 'Bebas Neue', sans-serif; */
   font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
}